<div class="title-header">
    <p>O nama</p>
</div>
<div class="about-content">
    <p class="about-text">
        Code-iT za Vas priprema i unapređuje programska rješenja za sve vrste poslovanja. Individualan pristup svakog korisniku omogućuje kvalitetniju uslugu te svakom korisniku jednostavno razumijevanje Code-iT programa. Korisnik dobiva program ključ u ruke gdje zaposlenici rješavaju sve korake prijave poslovnog prostora u suradnji sa knjigovodstvenim servisom korisnika do upisa artikala, import podataka iz drugih programa pomoću excella  i sličnih stvari.
    </p>
    <hr>
    <div class="employee-content">
        <h2>Zaposlenici</h2>
        <hr>
        <div class="employee-grid">
            <div class="employee-grid-item">
                <img src="assets/img/dejan.PNG">
                <h4>Dejan Vibović</h4>
                <p>Direktor & CEO</p>
            </div>
            <div class="employee-grid-item">
                <img src="assets/img/valentino.PNG">
                <h4>Valentino Fuš</h4>
                <p>Programski odjel</p>
            </div>
            <div class="employee-grid-item">
                <img src="assets/img/marko.PNG">
                <h4>Marko Vrban</h4>
                <p>Programski odjel</p>
            </div>
        </div>
    </div>
</div>