.orders-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.orders-content button {
    padding: 10px 15px;
    border: none;
    color: white;
    background-color: #319be4;
    font-size: 18px;
    border-radius: 5px;
}

.orders-content button:hover {
    background-color: #52b1f2;
    transition: 0.4s;
}

.orders-table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.orders-table thead {
    background-color: #319be4;
    color: white;
}

.orders-table thead tr th {
    padding: 10px;
    font-size: 17px;
    border: 1px solid white;
}

.orders-table tbody tr {
    cursor: pointer;
    border-bottom: 1px solid gainsboro;
}

.orders-table tbody tr:hover {
    background-color: #d6eeff;
}

.orders-table tbody tr td {
    padding: 10px;
}

.status-orange {
    color: orange;
}

.status-blue {
    color: rgba(0, 102, 255, 0.753);
}

.status-green {
    color: #37b84d;
}
