.logged-user span {
    cursor: pointer;
}

.logged-user span:hover {
    color: #319be4;
    transition: 0.4s;
}

@media(max-width: 500px)
{
    .logged-user {
        line-height: 80px;
        font-size: 0.8rem;
    }
    
    .content {
        padding: 0px;
    }
}