<div class="software-carousel">
  <ngb-carousel style="margin: 0; padding: 0">
    <ng-template ngbSlide>
      <img src="assets/img/kasa.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/cvjecara.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/frizerski.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/maloprodaja.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/pekara.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/pokretne.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/resort.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/servis.jpg" style="width: 100%;">
    </ng-template>
  </ngb-carousel>
</div>
<hr>
<div class="info-grid">
  <div class="grid-item">
    <div class="grid-icon">
      <img src="assets/img/upgrade_icon.png">
    </div>
    <div class="grid-text">
      <h2>Programska rješenja</h2>
      Priprema i unapređenje programskih rješenja za sve vrste poslovanja.
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-icon">
      <img src="assets/img/customer_service.png">
    </div>
    <div class="grid-text">
      <h2>Korisnička podrška</h2>
      <p>
        Korisnička podrška namijenjena je svim korisnicima naših programa na koju se korisnik uvijek može osloniti.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-icon">
      <img src="assets/img/pos_print_icon.png">
    </div>
    <div class="grid-text">
      <h2>POS oprema</h2>
      Prodaja i servis POS opreme za ugostiteljske, trgovačke i slične objekte.
    </div>
  </div>
</div>
<hr>
<div class="software-carousel">
  <ngb-carousel style="margin: 0; padding: 0">
    <ng-template ngbSlide>
      <img src="assets/img/quote_1.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/quote_2.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/quote_3.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/quote_4.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/quote_5.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/quote_6.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/quote_7.jpg" style="width: 100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/quote_8.jpg" style="width: 100%;">
    </ng-template>
  </ngb-carousel>
</div>